<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.platform.mapper.JobSyncMapper">

    <update id="updateCompanyLogoByCompanyId">
        UPDATE c_job
        SET company_logo = #{companyLogo}
        WHERE company_id = #{companyId}
    </update>

</mapper>
