<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.cservice.mapper.AttendanceCorrectionMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO attendance_corrections (shift_id, worker_id, reason, status, created_at)
        VALUES (#{shiftId}, #{workerId}, #{reason}, #{status}, #{createdAt})
    </insert>

    <select id="findById" resultType="com.parttime.cservice.pojo.entity.AttendanceCorrectionEntity">
        SELECT * FROM attendance_corrections WHERE id = #{id}
    </select>

    <select id="findByShiftId" resultType="com.parttime.cservice.pojo.entity.AttendanceCorrectionEntity">
        SELECT * FROM attendance_corrections WHERE shift_id = #{shiftId}
    </select>

    <select id="findByShiftIds" resultType="com.parttime.cservice.pojo.entity.AttendanceCorrectionEntity">
        SELECT * FROM attendance_corrections WHERE shift_id IN
        <foreach collection="shiftIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
