<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.cservice.mapper.JobApplicationMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO job_applications (worker_id, job_id, status)
        VALUES (#{workerId}, #{jobId}, #{status})
    </insert>

    <select id="findById" resultType="com.parttime.cservice.pojo.entity.JobApplication">
        SELECT * FROM job_applications WHERE id = #{id}
    </select>

    <select id="findByWorkerId" resultType="com.parttime.cservice.pojo.entity.JobApplication">
        SELECT * FROM job_applications WHERE worker_id = #{workerId}
    </select>

    <select id="findByJobId" resultType="com.parttime.cservice.pojo.entity.JobApplication">
        SELECT * FROM job_applications WHERE job_id = #{jobId}
    </select>

    <select id="findByWorkerIdAndJobId" resultType="com.parttime.cservice.pojo.entity.JobApplication">
        SELECT * FROM job_applications WHERE worker_id = #{workerId} AND job_id = #{jobId}
    </select>

    <select id="countByWorkerIdAndStatus" resultType="int">
        SELECT COUNT(*) FROM job_applications WHERE worker_id = #{workerId} AND status = #{status}
    </select>

    <update id="updateStatus">
        UPDATE job_applications SET status = #{status} WHERE id = #{id}
    </update>

</mapper>
