<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.cservice.mapper.SystemConfigMapper">

    <select id="findByKey" resultType="com.parttime.cservice.pojo.entity.SystemConfig">
        SELECT * FROM system_configs WHERE config_key = #{configKey}
    </select>

</mapper>
