<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.cservice.mapper.WorkerMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO c_worker (name, phone, wechat_code, open_id, avatar_url, status, created_at, updated_at)
        VALUES (#{name}, #{phone}, #{wechatCode}, #{openId}, #{avatarUrl}, #{status}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="findById" resultType="com.parttime.cservice.pojo.entity.Worker">
        SELECT * FROM c_worker WHERE id = #{id}
    </select>

    <select id="findByPhone" resultType="com.parttime.cservice.pojo.entity.Worker">
        SELECT * FROM c_worker WHERE phone = #{phone}
    </select>

    <select id="findByWechatCode" resultType="com.parttime.cservice.pojo.entity.Worker">
        SELECT * FROM c_worker WHERE wechat_code = #{wechatCode}
    </select>

    <select id="findByOpenId" resultType="com.parttime.cservice.pojo.entity.Worker">
        SELECT * FROM c_worker WHERE open_id = #{openId}
    </select>

    <select id="findAll" resultType="com.parttime.cservice.pojo.entity.Worker">
        SELECT * FROM c_worker
    </select>

    <update id="update">
        UPDATE c_worker
        SET name = #{name}, phone = #{phone}, wechat_code = #{wechatCode},
            open_id = #{openId}, avatar_url = #{avatarUrl}, status = #{status}
        WHERE id = #{id}
    </update>

</mapper>
