<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.enterprise.mapper.AttendanceRecordMapper">

    <resultMap id="RecordResultMap" type="com.parttime.enterprise.pojo.entity.AttendanceRecord">
        <id property="id" column="id"/>
        <result property="shiftId" column="shift_id"/>
        <result property="jobId" column="job_id"/>
        <result property="companyId" column="company_id"/>
        <result property="workerId" column="worker_id"/>
        <result property="checkInTime" column="check_in_time"/>
        <result property="checkInLat" column="check_in_lat"/>
        <result property="checkInLng" column="check_in_lng"/>
        <result property="checkOutTime" column="check_out_time"/>
        <result property="checkOutLat" column="check_out_lat"/>
        <result property="checkOutLng" column="check_out_lng"/>
        <result property="totalHours" column="total_hours"/>
        <result property="scheduledPay" column="scheduled_pay"/>
        <result property="payablePay" column="payable_pay"/>
        <result property="settlementStatus" column="settlement_status"/>
        <result property="calculatedAt" column="calculated_at"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO attendance_records (shift_id, job_id, company_id, worker_id, check_in_time, check_in_lat, check_in_lng,
                                        check_out_time, check_out_lat, check_out_lng,
                                        total_hours, scheduled_pay, payable_pay, settlement_status, calculated_at, status, remark)
        VALUES (#{shiftId}, #{jobId}, #{companyId}, #{workerId}, #{checkInTime}, #{checkInLat}, #{checkInLng},
                #{checkOutTime}, #{checkOutLat}, #{checkOutLng},
                #{totalHours}, #{scheduledPay}, #{payablePay}, #{settlementStatus}, #{calculatedAt}, #{status}, #{remark})
    </insert>

    <select id="findById" resultMap="RecordResultMap">
        SELECT * FROM attendance_records WHERE id = #{id}
    </select>

    <select id="findByShiftId" resultMap="RecordResultMap">
        SELECT * FROM attendance_records WHERE shift_id = #{shiftId}
    </select>

    <select id="findByShiftIds" resultMap="RecordResultMap">
        SELECT * FROM attendance_records WHERE shift_id IN
        <foreach collection="shiftIds" item="shiftId" open="(" separator="," close=")">
            #{shiftId}
        </foreach>
    </select>

    <update id="update">
        UPDATE attendance_records
        SET job_id = #{jobId}, company_id = #{companyId}, worker_id = #{workerId}, check_in_time = #{checkInTime},
            check_in_lat = #{checkInLat}, check_in_lng = #{checkInLng},
            check_out_time = #{checkOutTime}, check_out_lat = #{checkOutLat}, check_out_lng = #{checkOutLng},
            total_hours = #{totalHours}, scheduled_pay = #{scheduledPay}, payable_pay = #{payablePay},
            settlement_status = #{settlementStatus}, calculated_at = #{calculatedAt}, status = #{status}, remark = #{remark}
        WHERE id = #{id}
    </update>

    <resultMap id="HoursResultMap" type="com.parttime.enterprise.pojo.vo.AttendanceHoursVO">
        <id property="id" column="id"/>
        <result property="workerId" column="worker_id"/>
        <result property="workerName" column="worker_name"/>
        <result property="jobId" column="job_id"/>
        <result property="companyId" column="company_id"/>
        <result property="jobTitle" column="job_title"/>
        <result property="shiftDate" column="shift_date"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="salaryType" column="salary_type"/>
        <result property="salaryAmount" column="salary_amount"/>
        <result property="totalHours" column="total_hours"/>
        <result property="scheduledPay" column="scheduled_pay"/>
        <result property="payablePay" column="payable_pay"/>
        <result property="settlementStatus" column="settlement_status"/>
        <result property="checkInTime" column="check_in_time"/>
        <result property="checkOutTime" column="check_out_time"/>
        <result property="workerAge" column="worker_age"/>
    </resultMap>

    <select id="findHours" resultMap="HoursResultMap">
        SELECT a.id, a.worker_id, w.name AS worker_name,
               a.job_id, j.title AS job_title, s.shift_date, s.start_time, s.end_time,
               s.salary_type, s.salary_amount, a.total_hours, a.scheduled_pay, a.payable_pay, a.settlement_status,
               a.check_in_time, a.check_out_time,
               TIMESTAMPDIFF(YEAR, wp.birthday, CURDATE()) AS worker_age
        FROM attendance_records a
        JOIN schedule_shifts s ON a.shift_id = s.id
        JOIN jobs j ON a.job_id = j.id
        LEFT JOIN c_worker w ON a.worker_id = w.id
        LEFT JOIN worker_profiles wp ON a.worker_id = wp.worker_id
        WHERE a.company_id = #{companyId}
        <if test="workerName != null and workerName != ''">
            AND w.name LIKE CONCAT('%', #{workerName}, '%')
        </if>
        <if test="dateFrom != null">
            AND s.shift_date &gt;= #{dateFrom}
        </if>
        <if test="dateTo != null">
            AND s.shift_date &lt;= #{dateTo}
        </if>
        <if test="settlementStatus != null and settlementStatus != ''">
            AND a.settlement_status = #{settlementStatus}
        </if>
        ORDER BY a.id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="countHours" resultType="long">
        SELECT COUNT(*)
        FROM attendance_records a
        JOIN schedule_shifts s ON a.shift_id = s.id
        JOIN jobs j ON a.job_id = j.id
        LEFT JOIN c_worker w ON a.worker_id = w.id
        WHERE a.company_id = #{companyId}
        <if test="workerName != null and workerName != ''">
            AND w.name LIKE CONCAT('%', #{workerName}, '%')
        </if>
        <if test="dateFrom != null">
            AND s.shift_date &gt;= #{dateFrom}
        </if>
        <if test="dateTo != null">
            AND s.shift_date &lt;= #{dateTo}
        </if>
        <if test="settlementStatus != null and settlementStatus != ''">
            AND a.settlement_status = #{settlementStatus}
        </if>
    </select>


    <delete id="deleteByIds">
        DELETE FROM attendance_records WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findByIds" resultMap="RecordResultMap">
        SELECT * FROM attendance_records WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
