<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.enterprise.mapper.WorkerBalanceMapper">

    <resultMap id="WorkerBalanceResultMap" type="com.parttime.enterprise.pojo.entity.WorkerBalance">
        <id property="workerId" column="worker_id"/>
        <result property="balance" column="balance"/>
        <result property="totalEarned" column="total_earned"/>
        <result property="totalWithdrawn" column="total_withdrawn"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findByWorkerId" resultMap="WorkerBalanceResultMap">
        SELECT * FROM worker_balances WHERE worker_id = #{workerId}
    </select>

    <insert id="upsert">
        INSERT INTO worker_balances (worker_id, balance, total_earned, total_withdrawn)
        VALUES (#{workerId}, #{balance}, #{totalEarned}, #{totalWithdrawn})
        ON DUPLICATE KEY UPDATE
            balance = #{balance},
            total_earned = #{totalEarned},
            total_withdrawn = #{totalWithdrawn}
    </insert>

</mapper>
